.btn {
  display: block;
  margin-top: 20px;
}
.upload {
  border-radius: 4px;
  border: 1px dashed #ddd;
  color: #999;
  cursor: pointer;
  margin-top: 50px;
  padding: 30px;
  width: 100%;
}

.container {
  margin-top: 20px;
}

